# Unit 5 Final Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("bird_dino_data.csv")

In [3]:
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08

In [4]:
# add whole brain column to df with all brain regions added together
df['Whole Brain'] = df["Olfactory bulbs (cm3)"] + df["Cerebrum (cm3)"] + df["Optic Lobes (cm3)"]+ df["Cerebellum (cm3)"] + df["Brain Stem (cm3)"]

In [5]:
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.959
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.036
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.096
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.830
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.193

In [6]:
# .loc() bird and .loc Dino
bird = df.loc[df["Bird vs Dino"] == "B"]

In [7]:
bird.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.959
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.036
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.096
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.193
7,8,B,0.90,0.234,5.95,0.99,0.96,0.55,8.684

In [8]:
dino = df.loc[df["Bird vs Dino"] == "D"]

In [9]:
dino.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.830
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,22.629
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.447
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,8.818
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,26.150

In [43]:
dino = df.loc[df["Bird vs Dino"] == "D"]
bird = df.loc[df["Bird vs Dino"] == "B"]

bird.head()
dino.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.830
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,22.629
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.447
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,8.818
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,26.150

In [10]:
# average brain / body mass
bird[" bird brain to body mass"] = bird["Whole Brain"] / (bird['Body Mass (kg)'] * 1000)

bird_BBavg= bird[" bird brain to body mass"].mean()

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
bird_BBavg

0.04781897158703077

In [ ]:
bird[" bird brain to body mass"] = bird["Whole Brain"] / (bird['Body Mass (kg)'] * 1000)

bird_BBavg= bird[" bird brain to body mass"].mean()

print(bird_BBavg)

In [12]:
dino[" dino brain to body mass"] = dino["Whole Brain"] / (dino['Body Mass (kg)'] *1000)

dino_BBavg = dino[" dino brain to body mass"].mean()

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
print(dino_BBavg)

0.0016099413841087278

In [14]:
#find ratios with what we did yesterday c to wb for bird and dino
bird["bird cerebrum to whole brain"] = bird["Cerebrum (cm3)"] / bird["Whole Brain"]

bird_CBavg  = bird["bird cerebrum to whole brain"].mean()

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
print(bird_CBavg )

0.6650761062786563

In [16]:
dino["dino cerebrum to whole brain"] = dino["Cerebrum (cm3)"] / dino["Whole Brain"]

dino_CBavg = dino["dino cerebrum to whole brain"].mean()

/Users/brownscholar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
print(dino_CBavg)

0.4696031703064059

In [18]:
bird.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain,bird brain to body mass,bird cerebrum to whole brain
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.959,0.097950,0.781011
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.036,0.017489,0.762843
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.096,0.006925,0.733969
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.193,0.219300,0.715914
7,8,B,0.90,0.234,5.95,0.99,0.96,0.55,8.684,0.009649,0.685168

In [19]:
dino.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Whole Brain,dino brain to body mass,dino cerebrum to whole brain
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.830,0.003320,0.493976
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,22.629,0.000263,0.420699
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.447,0.002894,0.414651
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,8.818,0.000699,0.420730
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,26.150,0.000530,0.566348

In [20]:
Femur_Length_mm = 314
Olfactory_bulbs_mm = 13
Cerebrum_mm = 55
Optic_Lobes_mm = 38
Cerbellum_mm = 22
Brain_Volume_cm3 = 56

In [21]:
# brain body mass
print(10**(3.1854*np.log10(Femur_Length_mm)-3.184)/1000)

Body_Mass_kg = 10**(3.1854*np.log10(Femur_Length_mm)-3.184)/1000

58.846373099797525

In [22]:
Brain_Volume_cm3 / (Body_Mass_kg * 1000)

0.0009516304412683114

In [23]:
AverageBrain_to_BodyMass = Brain_Volume_cm3 / (Body_Mass_kg * 1000)

In [24]:
WholeBrain = Olfactory_bulbs_mm + Cerebrum_mm + Optic_Lobes_mm + Cerbellum_mm

In [25]:
Cerebrum_mm / WholeBrain

0.4296875

In [26]:
Cerebrum_to_WholeBrain = Cerebrum_mm / WholeBrain

In [27]:
df3_BBavg = AverageBrain_to_BodyMass

In [28]:
print(df3_BBavg)

0.0009516304412683114

In [29]:
df3_CBavg = Cerebrum_to_WholeBrain

In [30]:
print(df3_CBavg)

0.4296875

# Compare Averages

In [31]:
if bird_BBavg > dino_BBavg:
    print("bird_BBavg")
else:
    print("dino_BBavg")

bird_BBavg

In [32]:
if bird_CBavg > dino_CBavg:
    print("bird_CBavg")
else:
    print("dino_CBavg")

bird_CBavg

In [33]:
bird_BB_diff = bird_BBavg - df3_BBavg
dino_BB_diff = dino_BBavg - df3_BBavg

In [34]:
print(bird_BB_diff)
print(dino_BB_diff)

0.046867341145762464
0.0006583109428404165

In [35]:
if abs(bird_BB_diff) > abs(dino_BB_diff):
    print("closer to dino")
else:
    print("closer to bird")

closer to dino

In [36]:
bird_CB_diff = bird_CBavg - df3_CBavg
dino_CB_diff = dino_CBavg - df3_CBavg

In [37]:
print(bird_CB_diff)
print(dino_CB_diff)

0.23538860627865632
0.039915670306405915

In [38]:
if abs(bird_CB_diff) > abs(dino_CB_diff):
    print("closer to dino")
else:
    print("closer to bird")

closer to dino

Write a function that takes the femur length, brain volume, cerebrum width, whole brain width and return bird or nonavian dino

In [41]:
def bird_v_dino(femur_length, brain_volume, cerebrum_width, whole_brain_width):
    answers = []
    Body_Mass = (10**(3.1854*np.log10(femur_length)-3.184)/1000)*1000
    if abs(bird_BBavg - (brain_volume / Body_Mass)) > abs(dino_BBavg - (brain_volume / Body_Mass)):
        answers.append("Brain to Body Mass: Closer to dino")
    else:
        answers.append("Brain to Body Mass: Closer to bird")
    if abs(bird_CBavg - (cerebrum_width / whole_brain_width)) > abs(dino_CBavg - (cerebrum_width / whole_brain_width)):
        answers.append("Cerebrum to Whole Brain: Closer to dino")
    else:
        answers.append("Cerebrum to Whole Brain: Closer to bird")
    return answers

In [42]:
bird_v_dino(314, 56, 22, 128)

['Brain to Body Mass: Closer to dino',
 'Cerebrum to Whole Brain: Closer to dino']